# Forage accenture

In [1]:
import pandas as pd #import pandas
import os

## Content Data Set

In [2]:
# import content data
content = pd.read_csv("data/Content.csv") # import csv into a pandas data frame
print(content.shape) # print number of rows and columns
content.head() #show first few rows

(1000, 6)

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [3]:
content_clean = content[['Content ID','Type','Category']] # select only required columns and save them in a new DataFrame
content_clean.head() #show firat few rows

                             Content ID   Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6  photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180  video            food

In [4]:
content_clean = content_clean.rename(columns={'Type': 'ContentType', 'Content ID':'ContentID'}) # rename column names

In [5]:
content_clean['ContentType'].unique() # get all the unique elements in the contentType column

array(['photo', 'video', 'GIF', 'audio'], dtype=object)

In [6]:
content_clean['Category'].unique() # get all the unique elements in category column

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [7]:
content_clean['Category'] = content_clean['Category'].str.replace('"','') # remove quotation marks in category column
content_clean['Category'] = content_clean['Category'].str.lower() # make everthing lowercases 
content_clean['Category'].unique() # see unique elements

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [8]:
content_clean.count() # see number of non zero elements in each column

ContentID      1000
ContentType    1000
Category       1000
dtype: int64

In [9]:
content_clean.head(20) #see first 20 rows of cleaned data set

                               ContentID ContentType         Category
0   97522e57-d9ab-4bd6-97bf-c24d952602d2       photo         studying
1   9f737e0a-3cdd-4d29-9d24-753f4e3be810       photo   healthy eating
2   230c4e4d-70c3-461d-b42c-ec09396efb3f       photo   healthy eating
3   356fff80-da4d-4785-9f43-bc1261031dc6       photo       technology
4   01ab84dd-6364-4236-abbb-3f237db77180       video             food
5   cf1e8c1a-23eb-4426-9f58-002fb1b53e91         GIF          cooking
6   3f8590c7-6ab2-4973-805a-90cdec355f05       video             dogs
7   e5490118-90d5-4572-ab1c-1fbc87b8d9ca       video       technology
8   0bedca96-fb76-4287-a83c-17330ed39cce       photo           soccer
9   b18cb63f-4c8e-44ee-a47f-541e95191d11       photo  public speaking
10  5118e9c5-1377-4cc5-a486-65b35b7b7b76         GIF          science
11  46fb701d-6c26-458e-ada3-2ebe5dbba01f       audio  public speaking
12  0be59876-d70c-486c-8e0b-a06bef7a2cd6         GIF           tennis
13  81abd65a-3b76-4574-a0a7-db6bf7184ae2       video             food
14  e6ee2244-9382-49a9-8cbf-fa54aaaa2392       audio           travel
15  7ffd0a82-4a0a-4527-a4d6-e251b756bac7         GIF          fitness
16  f332d362-dc48-46c2-a64b-641157c0987e         GIF           soccer
17  a2e93b29-9259-4092-a4d7-62d5e823bb74       video  public speaking
18  9b3a6d30-48e8-476c-82be-9031524bd04d       video             food
19  850fe90d-47d6-4eb7-b9c8-810afcb99ce9       video           tennis

## Reactions Data Set

In [10]:
reaction = pd.read_csv('data/Reactions.csv') # load reaction data into a DataFrame
print(reaction.shape) # print the shape of the data set
reaction.head() # Show first few rows of the data frame

(25553, 5)

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [11]:
reaction_clean = reaction[['Content ID','Type','Datetime']] # select few columns from the dataframe and save in a new dataframe
reaction_clean.head() # Show the data frame

                             Content ID     Type             Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN  2021-04-22 15:17:15
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2  dislike  2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2   scared  2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2021-01-06 19:13:01

In [12]:
reaction_clean = reaction_clean.rename(columns={'Type': 'ReactionType', 'Content ID':'ContentID'}) # rename column names

In [13]:
reaction_clean['ReactionType'].unique() # get all the unique elements in the ReactionType column

array([nan, 'disgust', 'dislike', 'scared', 'interested', 'peeking',
       'cherish', 'hate', 'love', 'indifferent', 'super love',
       'intrigued', 'worried', 'like', 'heart', 'want', 'adore'],
      dtype=object)

In [14]:
reaction_clean.count() # get number of non empty elemenat in each column

ContentID       25553
ReactionType    24573
Datetime        25553
dtype: int64

In [15]:
reaction_clean.dropna(inplace=True) # Drop rows with NaN
reaction_clean.count() # see nun empty elements

ContentID       24573
ReactionType    24573
Datetime        24573
dtype: int64

In [16]:
reaction_clean.head(20)# show the dataframe

                               ContentID ReactionType             Datetime
1   97522e57-d9ab-4bd6-97bf-c24d952602d2      disgust  2020-11-07 09:43:50
2   97522e57-d9ab-4bd6-97bf-c24d952602d2      dislike  2021-06-17 12:22:51
3   97522e57-d9ab-4bd6-97bf-c24d952602d2       scared  2021-04-18 05:13:58
4   97522e57-d9ab-4bd6-97bf-c24d952602d2      disgust  2021-01-06 19:13:01
5   97522e57-d9ab-4bd6-97bf-c24d952602d2   interested  2020-08-23 12:25:58
6   97522e57-d9ab-4bd6-97bf-c24d952602d2      peeking  2020-12-07 06:27:54
7   97522e57-d9ab-4bd6-97bf-c24d952602d2      cherish  2021-04-11 17:35:49
8   97522e57-d9ab-4bd6-97bf-c24d952602d2         hate  2021-01-27 08:32:09
9   97522e57-d9ab-4bd6-97bf-c24d952602d2      peeking  2021-04-01 22:54:23
10  97522e57-d9ab-4bd6-97bf-c24d952602d2         love  2020-08-04 05:05:02
11  97522e57-d9ab-4bd6-97bf-c24d952602d2  indifferent  2020-11-07 08:36:27
12  97522e57-d9ab-4bd6-97bf-c24d952602d2       scared  2020-11-02 06:28:53
13  97522e57-d9ab-4bd6-97bf-c24d952602d2   interested  2020-11-01 01:16:21
14  97522e57-d9ab-4bd6-97bf-c24d952602d2         hate  2020-10-07 18:39:08
15  97522e57-d9ab-4bd6-97bf-c24d952602d2       scared  2020-09-03 18:51:38
16  97522e57-d9ab-4bd6-97bf-c24d952602d2   super love  2021-02-24 05:09:23
17  97522e57-d9ab-4bd6-97bf-c24d952602d2      peeking  2020-09-23 06:24:11
18  97522e57-d9ab-4bd6-97bf-c24d952602d2  indifferent  2021-02-24 11:37:57
19  97522e57-d9ab-4bd6-97bf-c24d952602d2   interested  2021-05-22 19:44:23
20  97522e57-d9ab-4bd6-97bf-c24d952602d2    intrigued  2021-01-31 16:03:56

## Reaction Type Data Set

In [17]:
reactiontypes = pd.read_csv('data/ReactionTypes.csv') #upload the reactiontype data set
print(reactiontypes.shape) #shape of the dataframe
reactiontypes.head() # Show the dataframe

(16, 4)

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [18]:
reactiontypes_clean = reactiontypes[['Type','Sentiment','Score']] #Select required columns
reactiontypes_clean.head() # show dataframe

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [19]:
reactiontypes_clean = reactiontypes_clean.rename(columns={'Type': 'ReactionType'}) # rename column names
reactiontypes_clean['ReactionType'].unique() # get all the unique elements in the ReactionType column

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'adore', 'like', 'dislike',
       'intrigued', 'peeking', 'scared', 'worried'], dtype=object)

In [20]:
reactiontypes_clean['Sentiment'].unique() # get all the unique elements in the Sentiment column

array(['positive', 'negative', 'neutral'], dtype=object)

In [21]:
reactiontypes_clean.count()

ReactionType    16
Sentiment       16
Score           16
dtype: int64

In [22]:
reactiontypes_clean.head(20) #see reactiontypes_clean table

   ReactionType Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

# Data Modelling

In [23]:
data_merge1 = pd.merge(content_clean,reaction_clean, on='ContentID') # merging dataset content_clean and reaction_celan using the common column "ContentID"
data_merge1.head() #see merged table

,ContentID,ContentType,Category,ReactionType,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,disgust,2020-11-07 09:43:50
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,dislike,2021-06-17 12:22:51
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,scared,2021-04-18 05:13:58
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,disgust,2021-01-06 19:13:01
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,interested,2020-08-23 12:25:58

In [24]:
data_merge2 = pd.merge(data_merge1,reactiontypes_clean, on='ReactionType') #merge reactiontype_clean data set using common column "ReactionType"
print(data_merge2.shape) # print number of rows and columns
data_merge2.tail(20) #see the data set

(24573, 7)

,ContentID,ContentType,Category,ReactionType,Datetime,Sentiment,Score
24553,b2a20047-ac6f-4caa-90b1-fe735433e362,photo,culture,adore,2021-02-15 03:30:17,positive,72
24554,a287c7ad-f5c8-4d87-940b-b7b24e2b42ac,video,fitness,adore,2021-03-29 23:36:42,positive,72
24555,89cb4504-fccd-40f4-945e-410f74ee4735,photo,animals,adore,2020-11-18 17:02:24,positive,72
24556,89cb4504-fccd-40f4-945e-410f74ee4735,photo,animals,adore,2020-10-03 18:30:41,positive,72
24557,89cb4504-fccd-40f4-945e-410f74ee4735,photo,animals,adore,2021-05-08 17:29:47,positive,72
24558,67766c84-7d8d-46e2-b2e8-8b0f8dc27193,photo,veganism,adore,2020-12-06 11:54:26,positive,72
24559,67766c84-7d8d-46e2-b2e8-8b0f8dc27193,photo,veganism,adore,2020-07-11 05:19:14,positive,72
24560,67766c84-7d8d-46e2-b2e8-8b0f8dc27193,photo,veganism,adore,2021-05-20 06:58:50,positive,72
24561,331fad49-0e33-4676-8e2d-51ec52e86625,audio,education,adore,2020-12-04 20:12:06,positive,72
24562,331fad49-0e33-4676-8e2d-51ec52e86625,audio,education,adore,2020-11-26 04:55:07,positive,72
24563,c54b49c4-b1f2-4641-8595-1cbd19937845,photo,science,adore,2021-06-09 10:23:47,positive,72
24564,c54b49c4-b1f2-4641-8595-1cbd19937845,photo,science,adore,2020-07-29 13:54:24,positive,72
24565,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,technology,adore,2020-11-01 01:33:39,positive,72
24566,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,adore,2020-06-25 18:08:39,positive,72
24567,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,adore,2020-12-16 09:08:34,positive,72
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,adore,2020-10-04 22:26:33,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,adore,2020-09-18 10:50:50,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,adore,2020-10-31 03:58:44,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,adore,2020-06-25 15:12:29,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,adore,2020-12-17 16:32:57,positive,72

## Top 5 Categories

In [25]:
findtop5 = data_merge2[['Category','Score']] # select "Category" column and "Score" column and save in a new dataframe
print(findtop5.shape) # print number of rows and columns
findtop5.head() #show the dataframe

(24573, 2)

         Category  Score
0        studying      0
1        studying      0
2        studying      0
3  healthy eating      0
4  healthy eating      0

In [26]:
findtop5aggregated = findtop5.groupby(['Category']).sum() #get the agregated sum of score for each category
findtop5aggregated.head(20) #Show the dataframe

                 Score
Category
animals          74965
cooking          64756
culture          66579
dogs             52511
education        57436
fitness          55323
food             66676
healthy eating   69339
public speaking  49264
science          71168
soccer           57783
studying         54269
technology       68738
tennis           50339
travel           64880
veganism         49619

In [27]:
top5 = findtop5aggregated.nlargest(5,'Score') #get the first five categories with most score
top5.head() # show top5 categories

                Score
Category
animals         74965
science         71168
healthy eating  69339
technology      68738
food            66676

In [35]:
top5.to_csv('top5categories.csv', sep=',') # save top5 categories into a csv file

## Insight of Top 5 Categories

In [33]:
 top5insight = data_merge2.query("Category in ('animals','science','healthy eating','technology','food')")
top5insight.head(20)

,ContentID,ContentType,Category,ReactionType,Datetime,Sentiment,Score
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,disgust,2021-03-28 21:15:26,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,disgust,2020-08-04 05:40:33,negative,0
10,5118e9c5-1377-4cc5-a486-65b35b7b7b76,GIF,science,disgust,2020-11-07 08:49:52,negative,0
15,81abd65a-3b76-4574-a0a7-db6bf7184ae2,video,food,disgust,2020-12-08 13:12:56,negative,0
16,81abd65a-3b76-4574-a0a7-db6bf7184ae2,video,food,disgust,2021-01-05 13:15:46,negative,0
17,81abd65a-3b76-4574-a0a7-db6bf7184ae2,video,food,disgust,2020-11-08 02:43:54,negative,0
18,81abd65a-3b76-4574-a0a7-db6bf7184ae2,video,food,disgust,2021-04-19 01:45:56,negative,0
19,81abd65a-3b76-4574-a0a7-db6bf7184ae2,video,food,disgust,2020-10-18 12:49:22,negative,0
25,9b3a6d30-48e8-476c-82be-9031524bd04d,video,food,disgust,2020-11-21 03:14:44,negative,0
26,9b3a6d30-48e8-476c-82be-9031524bd04d,video,food,disgust,2021-01-01 11:23:50,negative,0
44,34a3747a-0b77-42f6-ae19-87c38b94b674,GIF,science,disgust,2021-04-28 07:00:56,negative,0
45,34a3747a-0b77-42f6-ae19-87c38b94b674,GIF,science,disgust,2020-08-05 15:37:34,negative,0
48,f4e3840e-bb71-40c2-afc5-9408d842646d,photo,healthy eating,disgust,2021-03-08 02:51:24,negative,0
49,a2ff9bf2-1fa6-4001-9566-f597f8e754ef,video,food,disgust,2021-02-21 08:37:41,negative,0
50,a2ff9bf2-1fa6-4001-9566-f597f8e754ef,video,food,disgust,2020-12-04 13:10:29,negative,0
56,eec5e521-4c28-4e8a-93a9-d544803fad7e,audio,food,disgust,2020-10-10 23:55:45,negative,0
57,49367a0f-1fd5-4417-a7c9-4a154e1ae0ad,photo,technology,disgust,2020-08-01 08:00:05,negative,0
58,49367a0f-1fd5-4417-a7c9-4a154e1ae0ad,photo,technology,disgust,2020-10-06 11:27:42,negative,0
59,457301ee-3e87-40d8-8b82-ea4e1fa90e39,GIF,healthy eating,disgust,2020-06-30 23:11:07,negative,0
60,457301ee-3e87-40d8-8b82-ea4e1fa90e39,GIF,healthy eating,disgust,2021-01-16 01:40:32,negative,0